<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加云主机</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">计算</a>
            </li>
            <li class="active">
                <strong>添加云主机</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>云主机名称 <span class="text-danger">*</span></label>
                            <input type="email"
                                   placeholder="云主机名称"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>云主机配置<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="要启动的镜像大小"></i>
                            <select name="newConfig" id="newConfig" class="form-control" ng-init = "newConfig = ''" ng-model="newConfig" ng-change="changeConfig()">
                                <option value="">--请选择--</option>
                                <option ng-repeat="item in flavors" ng-value="item">{{item.name}}</option>
                            </select>
                            {{newConfig}}
                        </div>

                        <div class="form-group">
                            <label>云主机数量<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="启动云主机的个数"></i>

                            <input type="number"
                                   class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>防火墙<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="在这些防火墙中启动云主机"></i>

                            <div class="checkbox"><label> <input icheck type="checkbox" ng-model="main.check2">
                                Option one </label></div>
                        </div>
                        <div class="form-group">
                            <label>网络<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="使用这些网络启动云主机"></i>

                            <div class="checkbox" ng-repeat="item in net_work">
                                <label>
                                    <input icheck type="checkbox" ng-model="network.lan">
                                    {{item}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>镜像名称<span class="text-danger">*</span></label>
                            <select name="selectImage" id="selectImage" class="form-control" ng-model="selectImage" ng-change="">
                                <option value="">--请选择--</option>
                                <option ng-repeat="item in images" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="tip text-warning">指定创建云主机的详细信息</div>
                    <div class="tip text-warning">详细说明启动云主机的情况,下面的图表显示此项目所使用的资源和关联的项目配额。</div>
                    <div class="h5">方案详情</div>
                    <table class="table table-bordered table-striped">
                        <theader>
                            <tr>
                                <th>名称</th>
                                <th>{{newConfig.name}}</th>
                            </tr>
                        </theader>
                        <tbody>
                        <tr>
                            <td>VCPUs</td>
                            <td>{{newConfig.vcpus}}个</td>
                        </tr>
                        <tr>
                            <td>根磁盘</td>
                            <td>{{newConfig.disk}}GB</td>
                        </tr>
                        <tr>
                            <td>临时磁盘</td>
                            <td>{{newConfig.swap?newConfig.swap:0}}GB</td>
                        </tr>
                        <tr>
                            <td>所有磁盘</td>
                            <td>{{newConfig.disk+newConfig.swap}}GB</td>
                        </tr>
                        <tr>
                            <td>内存</td>
                            <td>{{newConfig.ram/1024}}GB</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="h5">项目限制</div>
                    <div ng-repeat="(key,item) in count">
                        <div class="h6" >{{item.title}}数量 <small class="pull-right">{{item.total}}{{item.unit}} 中的 {{item.used}}{{item.unit}} 已使用</small></div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {{item.used/item.total*100}}%">
                                <span class="sr-only">{{item.used/item.total*100}}% Complete (success)</span>
                            </div>
                            <div ng-if="key == 'cores'" class="progress-bar progress-bar-warning progress-bar-striped"
                                 style="width:{{coresChangeProgress/item.total*100}}%">
                                <span class="sr-only"> Complete (warning)</span>
                            </div>
                            <div ng-if="key == 'ram'" class="progress-bar progress-bar-warning progress-bar-striped"
                                 style="width:{{ramChangeProgress/item.total*100}}%">
                                <span class="sr-only"> Complete (warning)</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-white" type="submit">取消</button>
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
