<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加云主机</h2>
        <ol class="breadcrumb">
            <li>
                <span>计算</span>
            </li>
            <li class="active">
                <a ui-sref="count.cloudComputer">云主机</a>
            </li>
            <li class="active">
                <strong>添加云主机</strong>
            </li>
        </ol>
    </div>
</div>
{{formData}}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            {{formData}}
            <form role="form" name="$form" novalidate ng-submit="formSubmit($event)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>云主机名称 <span class="text-danger">*</span></label>
                            <input type="text" name="name"
                                   placeholder="云主机名称"
                                   ng-model="formData.name"
                                   required
                                   class="form-control"/>
                            <div class="text-danger" ng-show="$form.name.$dirty && $form.name.$invalid">
                                <small ng-show="$form.name.$error.required">请填写主机名称</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>云主机配置<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip"
                               data-placement="right" title="要启动的镜像大小"></i>
                            <select name="flavorRef"
                                    id="flavorRef"
                                    class="form-control"
                                    ng-init="flavorRef = ''"
                                    ng-model="formData.flavorRef"
                                    ng-change="changeConfig(formData.flavorRef)"
                                    required
                            >
                                <option value="">--请选择--</option>
                                <option ng-repeat="item in flavors" ng-value="item">{{item.name}}</option>
                            </select>
                            <div class="text-danger" ng-show="$form.flavorRef.$dirty && $form.flavorRef.$invalid">
                                <small ng-show="$form.flavorRef.$error.required">请选择配置</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>云主机数量<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip"
                               data-placement="right" title="启动云主机的个数"></i>

                            <input type="number"
                                   class="form-control"
                                   ng-model="formData.computerCount"
                                   ng-pattern="/^\+?[1-9]\d*$/"
                                   placeholder="大于0的正整数"
                                   name="computerCount"
                            />
                            <div class="text-danger" ng-show="$form.computerCount.$invalid">
                                <small ng-show="$form.computerCount.$error.pattern">请输入大于0的正整数</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>防火墙</label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip"
                               data-placement="right" title="在这些防火墙中启动云主机"></i>

                            <div class="checkbox">
                                <label>
                                <input icheck type="checkbox" ng-model="formData.security">
                                使用防火墙</label>
                            </div>
                        </div>
                        <div class="form-group" ng-init="changeNetwork = false">
                            <label>网络<span class="text-danger">*</span></label>
                            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip"
                               data-placement="right" title="使用这些网络启动云主机"></i>

                            <div class="checkbox" ng-repeat="(key,item) in net_work">
                                <label ng-init="formData.net_work[key] = false">
                                    <input icheck type="checkbox" ng-model="formData.net_work[key]" ng-change="changeNetworkMark()" ng-required="!lessone(formData.net_work)">
                                    {{item.name}}
                                </label>
                            </div>
                            <div class="text-danger"  ng-show="changeNetwork && !lessone(formData.net_work)">
                                <small>请选择至少一个网络类型</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>镜像名称<span class="text-danger">*</span></label>
                            <select name="imageRef"
                                    id="imageRef"
                                    class="form-control"
                                    ng-model="formData.imageRef"
                                    required
                                    ng-disabled="$state.params.imageid"
                                    >
                                <option value="">--请选择--</option>
                                <option ng-repeat="item in images" ng-value="item.id">{{item.name}}</option>
                            </select>
                            <div class="text-danger" ng-show="$form.imageRef.$dirty && $form.imageRef.$invalid">
                                <small ng-show="$form.imageRef.$error.required">请选择镜像</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tip text-warning">指定创建云主机的详细信息</div>
                        <div class="tip text-warning">详细说明启动云主机的情况,下面的图表显示此项目所使用的资源和关联的项目配额。</div>
                        <div class="h5">方案详情</div>
                        <table class="table table-bordered table-striped">
                            <theader>
                                <tr>
                                    <th>名称</th>
                                    <th>{{formData.flavorRef.name}}</th>
                                </tr>
                            </theader>
                            <tbody>
                            <tr>
                                <td>VCPUs</td>
                                <td>{{formData.flavorRef.vcpus}}个</td>
                            </tr>
                            <tr>
                                <td>根磁盘</td>
                                <td>{{formData.flavorRef.disk}}GB</td>
                            </tr>
                            <tr>
                                <td>临时磁盘</td>
                                <td>{{formData.flavorRef.swap?formData.flavorRef.swap:0}}GB</td>
                            </tr>
                            <tr>
                                <td>所有磁盘</td>
                                <td>{{formData.flavorRef.disk+formData.flavorRef.swap}}GB</td>
                            </tr>
                            <tr>
                                <td>内存</td>
                                <td>{{formData.flavorRef.ram/1024}}GB</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="h5">项目限制</div>
                        <div ng-repeat="(key,item) in count">
                            <div class="h6">{{item.title}}数量
                                <small class="pull-right">{{item.total}}{{item.unit}} 中的 {{item.used}}{{item.unit}}
                                    已使用
                                </small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     style="width: {{item.used/item.total*100}}%">
                                    <span class="sr-only">{{item.used/item.total*100}}% Complete (success)</span>
                                </div>
                                <div ng-if="key == 'instances'"
                                     class="progress-bar progress-bar-warning progress-bar-striped"
                                     style="width:{{formData.computerCount/item.total*100}}%">
                                    <span class="sr-only"> Complete (warning)</span>
                                </div>
                                <div ng-if="key == 'cores'"
                                     class="progress-bar progress-bar-warning progress-bar-striped"
                                     style="width:{{(coresChangeProgress*formData.computerCount)/item.total*100}}%">
                                    <span class="sr-only"> Complete (warning)</span>
                                </div>
                                <div ng-if="key == 'ram'" class="progress-bar progress-bar-warning progress-bar-striped"
                                     style="width:{{ramChangeProgress*formData.computerCount/item.total*100}}%">
                                    <span class="sr-only"> Complete (warning)</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <a href="javascript:history.back()" class="btn btn-white">返回云主机列表</a>
                    <button class="btn btn-primary" type="submit" ng-disabled="$form.$invalid">保存</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
