<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>概况</h2>
        <ol class="breadcrumb">
            <li>
                计算
            </li>
            <li class="active">
                <strong>备份</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>备份</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="btn btn-primary btn-sm" data-toggle="modal" data-target="#creat_cloud_computer">
                            <span class="fa fa-camera"></span> 创建备份
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>备份名称</th>
                                <th>云主机名称</th>
                                <th>大小</th>
                                <th>创建时间</th>
                                <th>动作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in hostList">
                                <td ng-init="hostList[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="hostList[$index].check_status" ng-change="itemCheck()"/>
                                </td>
                                <td>{{item.basename}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    {{item.size}}
                                </td>
                                <td>{{item.time | date:'yyyy-MM-dd'}}</td>
                                <td>
                                    <a class="text-danger" ng-click="deleteBase(item.basename)">删除备份</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <nav aria-label="Page navigation" class="pull-right">
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                                    aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="javascript:;">1 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="creat_cloud_computer" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">创建备份</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="tip text-warning">镜像保存运行中云主机的磁盘状态</div>
                    <form role="form">
                        <div class="form-group">
                            <label>选择一个实例</label>
                            <select name="" id="" class="form-control">
                                <option value="">m1.xlarge</option>
                                <option value="">m1.small</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>备份名称<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                            />
                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
