<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>概况</h2>
        <ol class="breadcrumb">
            <li>
                计算
            </li>
            <li class="active">
                <strong>云主机</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>云主机</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-danger" role="alert" ng-show="warn">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <div ng-repeat="item in warnText">
                            {{item}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" placeholder="云主机名称" class="input-sm form-control"
                                       ng-init="searchCloud = ''" ng-model="searchCloud">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary">输入查询云主机名称</button> </span>
                            </div>
                        </div>
                        <!--  <botton class="btn btn-primary btn-sm" ng-click="globalToggle('start')">开机</botton>
                          <botton class="btn btn-primary btn-sm" ng-click="globalToggle('stop')"><span class="fa fa-power-off"></span>关机</botton>-->
                        <a ui-sref="count.addCloudComputer" class="btn btn-primary btn-sm">
                            <span class="fa fa-plus"></span>创建主机</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>云主机名称</th>
                                <th>备份名称</th>
                                <th>IP 地址</th>
                                <th>配置</th>
                                <th>状态</th>
                                <th>任务</th>
                                <th>电源状态</th>
                                <th>常用操作</th>
                                <th>调整操作</th>
                                <th>开关机操作</th>
                                <th>其他动作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,item) in cloudHost" on-finish-render="ngRepeatFinished"
                                ng-show="showCloud(item.name)">
                                <td ng-init="cloudHost[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="cloudHost[$index].check_status" ng-change="itemCheck()"/>
                                </td>
                                <td>
                                    <a ui-sref="count.cloudComputerDetail({id:item.id})">{{item.name}}</a>
                                </td>
                                <td>{{item.imageName}}</td>
                                <td>
                                    <div ng-repeat="subItem in item.ipData">
                                        {{subItem.addr}}
                                    </div>
                                </td>
                                <td>
                                    <span role="button"
                                          id="config{{$index}}"
                                          class="text-success"
                                          tabindex="0"
                                          data-toggle="popover"
                                          data-trigger="focus"
                                          title="方案详情:{{item.config.name}}"
                                    >{{item.config.name}}</span>
                                </td>
                                <td class="{{item.vm.state == 'stopped'?'text-danger':'text-info'}}">{{item.vm.text}}
                                </td>
                                <td>
                                    <i ng-show="item.task.state != null"
                                       class="fa fa-refresh fa-spin fa-fw text-info"></i>
                                    {{item.task.text}}
                                </td>
                                <td class="{{item.power.state == 1 ?'text-info':'text-danger'}}">{{item.power.text}}
                                </td>
                                <td>
                                    <a ng-show="item.vnc" href="{{item.vnc}}" target="_blank" title="VNC">
                                        <span class="fa fa-desktop">
                                        </span>
                                    </a>
                                    &nbsp;
                                    <a href="javascript:void(0);"  title="restart"
                                       ng-click="restartComputer(item.id,key)">
                                        <span class="fa fa-undo"></span>
                                    </a>
                                </td>
                                <td>
                                    <span role="button"
                                          class="text-info"
                                          ng-show="item.vm.state == 'stopped'"
                                          data-toggle="modal"
                                          data-target="#reset_config"
                                          ng-click="resetConfigInfo(item.config,item.diskConfig,item.id)"
                                    >调整配置<span>&nbsp;</span></span>

                                    <span ng-show="item.task.state == null"
                                            role="button"
                                          class="text-warning"
                                          data-toggle="modal"
                                          data-target="#reset_cloud_computer"
                                          ng-click="reconstruction(item.id,key)"
                                    >重建云主机</span>
                                </td>
                                <td>
                                    <button ng-show="item.vm.state == 'stopped' && item.task.state == null"
                                            type="button"
                                            class="btn btn-outline btn-xs btn-primary"
                                            ng-click="toggleComputer('start',item.id,key,item.name)"
                                    >开机
                                    </button>
                                    <button ng-show="item.vm.state == 'active' && item.task.state == null"
                                            type="button"
                                            class="btn btn-outline btn-xs btn-danger"
                                            ng-click="toggleComputer('stop',item.id,key,item.name)"
                                    >关机
                                    </button>
                                </td>
                                <td>
                                    <span role="button"
                                          class="text-danger"
                                          ng-click="deleteCloud(item.id,item.name,key)"
                                    >删除主机</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--调整配置-->
<div class="modal fade bd-example-modal-lg" id="reset_config" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">调整配置</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label>旧的云主机类型</label>
                                <input type="text" disabled
                                       value="{{oldConfig.name}}"
                                       class="form-control"
                                />
                            </div>
                            <div class="form-group">
                                <label>新的云主机类型 <span class="text-danger">*</span></label>
                                <select name="newConfig" id="newConfig" class="form-control" ng-model="newConfig"
                                        ng-change="changeConfig(newConfig)">
                                    <option value="">--请选择--</option>
                                    <option ng-repeat="item in flavors" ng-value="item">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>磁盘分区</label>
                                <select name="diskConfig" id="diskConfig" class="form-control" ng-model="diskConfig">
                                    <option value="">--请选择--</option>
                                    <option value="AUTO">自动</option>
                                    <option value="MANUAL">手动</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="h5">方案详情</div>
                        <table class="table table-bordered table-striped">
                            <theader>
                                <tr>
                                    <th>名称</th>
                                    <th>{{newConfig.name}}</th>
                                </tr>
                            </theader>
                            <tbody>
                            <tr>
                                <td>VCPUs</td>
                                <td>{{newConfig.vcpus}}个</td>
                            </tr>
                            <tr>
                                <td>根磁盘</td>
                                <td>{{newConfig.disk}}GB</td>
                            </tr>
                            <tr>
                                <td>临时磁盘</td>
                                <td>{{newConfig.swap?newConfig.swap:0}}GB</td>
                            </tr>
                            <tr>
                                <td>所有磁盘</td>
                                <td>{{newConfig.disk+newConfig.swap}}GB</td>
                            </tr>
                            <tr>
                                <td>内存</td>
                                <td>{{newConfig.ram/1024}}GB</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="h5">项目限制</div>
                        <div ng-repeat="(key,item) in count">
                            <div class="h6">{{item.title}}数量
                                <small class="pull-right">{{item.total}}{{item.unit}} 中的 {{item.used}}{{item.unit}}
                                    已使用
                                </small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     style="width: {{item.used/item.total*100}}%">
                                    <span class="sr-only">{{item.used/item.total*100}}% Complete (success)</span>
                                </div>
                                <div ng-if="key == 'cores'"
                                     class="progress-bar progress-bar-warning progress-bar-striped"
                                     style="width:{{coresChangeProgress/item.total*100}}%">
                                    <span class="sr-only"> Complete (warning)</span>
                                </div>
                                <div ng-if="key == 'ram'" class="progress-bar progress-bar-warning progress-bar-striped"
                                     style="width:{{ramChangeProgress/item.total*100}}%">
                                    <span class="sr-only"> Complete (warning)</span>
                                </div>
                                <!-- <div ng-if="key == 'cores'" class="progress-bar progress-bar-danger" style="width:width:{{coresChangeProgress/item.total*100}}% ">
                                     <span class="sr-only"> Complete (danger)</span>
                                 </div>
                                 <div ng-if="key == 'ram'" class="progress-bar progress-bar-danger" style="width:width:{{ramChangeProgress/item.total*100}}% ">
                                     <span class="sr-only"> Complete (danger)</span>
                                 </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="submitConfig()">保存</button>
            </div>
        </div>
    </div>
</div>
<!--重建云主机-->
<div class="modal fade bd-example-modal-lg" id="reset_cloud_computer" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">重建云主机</h4>
            </div>

            <div class="modal-body">
                <div class="tip text-warning">选择镜像以重建你的云主机</div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label>选择一个镜像 <span class="text-danger">*</span></label>
                                <select name="selectImage" id="selectImage" class="form-control" ng-model="selectImage">
                                    <option value="">--请选择--</option>
                                    <option ng-repeat="item in images" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="submitResetCloudComputer()">保存</button>
            </div>
        </div>
    </div>
</div>
