<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>概况</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">计算</a>
            </li>
            <li class="active">
                <strong>云主机详情:node2</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox-content">
                <div>
                    <h3>基本信息</h3>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-2">名称</div>
                        <div class="col-sm-10">node2</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">ID</div>
                        <div class="col-sm-10">380c3831-f206-4a4c-a93a-f89ffc87d0ed</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">状态</div>
                        <div class="col-sm-10">运行中</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">可用域</div>
                        <div class="col-sm-10">运行中</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">创建时间</div>
                        <div class="col-sm-10">运行中</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Time Since Created</div>
                        <div class="col-sm-10">运行中</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">主机</div>
                        <div class="col-sm-10">运行中</div>
                    </div>
                </div>
                <div>
                    <h3>规格</h3>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-2">云主机配置</div>
                        <div class="col-sm-10">node2</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-content">
                <div class="row">
                    sdd

                </div>

            </div>
        </div>
    </div>

</div>

