<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>云硬盘</h2>
        <ol class="breadcrumb">
            <li>
                <span>存储</span>
            </li>
            <li class="active">
                <strong>云硬盘</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>云硬盘</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <a class="btn btn-primary btn-sm" ui-sref="storage.addCouldDisk">
                            <span class="fa fa-plus"></span> 创建云硬盘
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>名称</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>连接到</th>
                                <th>创建时间</th>
                                <th>编辑</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,item) in disks">
                                <td ng-init="disks[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="disks[$index].check_status"
                                           ng-change="itemCheck()"/>
                                </td>
                                <td><a href="javascript:;">{{item.displayName}}</a></td>
                                <td>{{item.size}}GB</td>

                                <td>
                                    {{item.status}}
                                    <i ng-show="(item.status != 'in-use') && (item.status !='available') && (item.status !='error')"
                                        class="fa fa-refresh fa-spin fa-fw text-info">
                                    </i>
                                    {{diskStatus[item.status]}}</td>
                                <td>{{item.attachments.serverId}}</td>
                                <td>{{item.createdAt}}</td>
                                <td>
                                    <button class="btn btn-xs btn-info"
                                            type="button"
                                            ng-click="editInuse(item.id)"
                                    >编辑挂载</button>
                                </td>
                                <td>
                                    <botton class="btn btn-xs btn-danger" type="button"
                                            ng-click="deleteDisk(item.name,item.id,key)">
                                        删除
                                    </botton>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
