<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>网络概况</h2>
        <ol class="breadcrumb">
            <li>
                <span>网络</span>
            </li>
            <li>
                <a ui-sref="network.userNetwork">用户私有网络</a>
            </li>
            <li class="active">
                <strong>网络概况</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h3>网络概况</h3>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-2">名称</div>
                            <div class="col-sm-10">{{network.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">ID</div>
                            <div class="col-sm-10">{{network.id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">项目ID</div>
                            <div class="col-sm-10">{{network.project_id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">状态</div>
                            <div class="col-sm-10">{{network.status}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">管理员状态</div>
                            <div class="col-sm-10">{{network.admin_state_up?'UP':'DOWN'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">共享的</div>
                            <div class="col-sm-10">{{network.shared}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">外部网络</div>
                            <div class="col-sm-10">{{network['router:external']}}</div>
                        </div>
                    </div>
                    <h3 style="padding-top: 20px;">子网</h3>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>名称</th>
                                <th>网络地址</th>
                                <th>IP版本</th>
                                <th>网关IP</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,item) in subNetworks">
                                <td ng-init="hostList[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="hostList[$index].check_status"
                                           ng-change="itemCheck()"/>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.cidr}}</td>
                                <td>Ipv{{item.ip_version}}</td>
                                <td>{{item.gateway_ip}}</td>
                                <td>
                                    <button ng-if="!item.shared"
                                            type="button"
                                            class="btn btn-info btn-xs"
                                            data-toggle="modal" data-target="#edit_subNetwork"
                                            ng-click="edit_subNetwork(item)"
                                    >
                                        编辑子网
                                    </button>
                                </td>
                                <td>
                                    <button ng-if="!item.shared"
                                            type="button"
                                            class="btn btn-danger btn-xs"
                                            ng-click="deleteNetwork(item,key)"
                                    >删除子网
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>端口</h3>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>名称</th>
                                <th>固定IP</th>
                                <th>连接设备</th>
                                <th>状态</th>
                                <th>管理员状态</th>
                                <th>编辑</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,item) in ports">
                                <td ng-init="hostList[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="hostList[$index].check_status"
                                           ng-change="itemCheck()"/>
                                </td>
                                <td>
                                    <a ui-sref="network.detailPort({id:item.id})">({{item.id | limitTo : 8}})</a>
                                </td>
                                <td>
                                    <span ng-repeat="fixedItem in item.fixed_ips">{{fixedItem.ip_address}}</span>
                                   </td>
                                <td>{{item.device_owner}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.admin_state_up?'UP':'DOWN'}}</td>
                                <td>
                                    <button
                                            type="button"
                                            class="btn btn-info btn-xs"
                                            data-toggle="modal" data-target="#edit_port"
                                            ng-click="edit_port(item)"
                                    >
                                        编辑端口
                                    </button>
                                </td>
                                <td>
                                    <button ng-if="item.device_owner != 'network:router_gateway'"
                                            type="button"
                                            class="btn btn-danger btn-xs"
                                            ng-click="deletePart(item,key)"
                                    >
                                        删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑网络-->
<div class="modal fade" id="edit_network" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <form role="form" name="$editNetForm" novalidate ng-submit="formSubmit($event,'editNetwork')">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">编辑网络</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label>名称<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   name="name"
                                   ng-model="editNetFormData.name"
                            />
                            <div class="text-danger"
                                 ng-show="$editNetForm.name.$dirty && $editNetForm.name.$invalid">
                                <small ng-show="$editNetForm.name.$error.required">请填写名称</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>ID<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   ng-value="networkId"
                                   disabled
                            />
                        </div>
                        <div class="form-group">
                            <label>管理员状态<span class="text-danger">*</span></label>
                            <select class="form-control"
                                    ng-model="editNetFormData.admin_state_up"
                            >
                                <option ng-repeat="(key,value) in adminstatus" ng-value="key">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="$editNetForm.$invalid"
                    >保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--编辑子网络-->
<div class="modal fade" id="edit_subNetwork" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" name="$editNetForm" novalidate ng-submit="formSubmit($event,'edit_subNetwork')">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">编辑子网{{currentNetwork.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>子网名称<span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       ng-required="true"
                                       name="name"
                                       ng-model="subNetworkFormData.name"
                                />
                                <div class="text-danger"
                                     ng-show="$form.name.$dirty && $form.name.$invalid">
                                    <small ng-show="$form.name.$error.required">请填写名称</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>网络地址<span class="text-danger">*</span>
                                    <i class="fa fa-question-circle"
                                       aria-hidden="true"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="CIDR格式的网络地址 (例如 192.168.0.0/24, 2001:DB8::/48)"></i></label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="currentNetwork.cidr"
                                       disabled
                                />
                            </div>
                            <div class="form-group">
                                <label>网关IP
                                    <i class="fa fa-question-circle"
                                       aria-hidden="true"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="网关IP地址(例如 192.168.0.254) 缺省值是网络地址的第一个IP (例如 192.168.0.0/24的192.168.0.1, 2001:DB8::/48的2001:DB8::1). 如果你要使用缺省值，保留为空白。如果你不想使用网关，勾选下面的'禁用网关'。"></i>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       name="gateway_ip"
                                       ng-model="subNetworkFormData.gateway_ip"
                                />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input icheck type="checkbox"
                                       ng-model="subNetworkFormData.enable_dhcp"
                                />
                                激活DHCP
                            </div>
                            <div class="form-group">
                                <label>分配地址池
                                    <i class="fa fa-question-circle"
                                       aria-hidden="true"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="IP地址分配池. 每条记录是：开始IP，结束IP(例如 192.168.1.100,192.168.1.120)，每行一条记录."></i>
                                </label>
                                <textarea class="form-control" name="" id="" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label>DNS域名解析服务
                                    <i class="fa fa-question-circle"
                                       aria-hidden="true"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="该子网的DNS服务器ip地址列表.每行一个"></i>
                                </label>
                                <textarea class="form-control" name="" id="" rows="5"
                                          ng-model="subNetworkFormData.dns_nameservers"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="$editNetForm.$invalid"
                    >保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--编辑端口-->
<div class="modal fade" id="edit_port" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <form role="form" name="$editNetForm" novalidate ng-submit="formSubmit($event,'editNetwork')">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">编辑端口</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label>ID<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="editPortFormData.id"
                                   disabled
                            />
                        </div>
                        <div class="form-group">
                            <label>名称<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   name="name"
                                   ng-model="editPortFormData.name"
                            />
                            <div class="text-danger"
                                 ng-show="$editNetForm.name.$dirty && $editNetForm.name.$invalid">
                                <small ng-show="$editNetForm.name.$error.required">请填写名称</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>管理员状态<span class="text-danger">*</span></label>
                            <select class="form-control"
                                    ng-model="editPortFormData.admin_state_up"
                            >
                                <option ng-repeat="(key,value) in adminstatus" ng-value="key">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="$editNetForm.$invalid"
                    >保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>