<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>概况</h2>
        <ol class="breadcrumb">
            <li>
                <span>首页</span>
            </li>
            <li class="active">
                <strong>概况</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div>计算</div>
    <div class="row">
        <div class="col-lg-3" ng-repeat="item in count">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{item.used}}/{{item.total}}({{item.unit}})</span>
                    <h5>{{item.title}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.used}}" aria-valuemin="0" aria-valuemax="{{item.total}}" style="width: {{item.used/item.total*100 | number : 1}}%">
                            {{item.used/item.total*100 | number : 1}}%
                        </div>
                    </div>
                    <div class="stat-percent font-bold text-navy">{{item.used/item.total*100 | number : 1}}% </div>
                    <small>使用情况</small>
                </div>
            </div>
        </div>
    </div>
    <div>网络</div>
    <div class="row">
        <div class="col-lg-3" ng-repeat="item in network">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{item.used}}/{{item.total}}({{item.unit}})</span>
                    <h5>{{item.title}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.used}}" aria-valuemin="0" aria-valuemax="{{item.total}}" style="width:{{item.used/item.total*100 | number : 1}}%">
                            {{(item.used/item.total)*100 | number : 1}}%
                        </div>
                    </div>
                    <div class="stat-percent font-bold text-navy">{{item.used/item.total*100 | number : 1}}% </div>
                    <small>使用情况</small>
                </div>
            </div>
        </div>

    </div>
    <div>存储</div>
    <div class="row">
        <div class="col-lg-3" ng-repeat="item in storage">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{item.used}}/{{item.total}}({{item.unit}})</span>
                    <h5>{{item.title}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.used}}" aria-valuemin="0" aria-valuemax="{{item.total}}" style="width:{{item.used/item.total*100 | number : 1}}%">
                            {{item.used/item.total*100 | number : 1}}%
                        </div>
                    </div>
                    <div class="stat-percent font-bold text-navy">{{item.used/item.total*100 | number : 1}}% </div>
                    <small>使用情况</small>
                </div>
            </div>
        </div>
    </div>
    <div>安全</div>
    <div class="row">
        <div class="col-lg-3" ng-repeat="item in safe">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{item.used}}/{{item.total}}({{item.unit}})</span>
                    <h5>{{item.title}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.used}}" aria-valuemin="0" aria-valuemax="{{item.total}}" style="width: {{item.used/item.total*100 | number : 1}}%">
                            {{item.used/item.total*100 | number : 1}}%
                        </div>
                    </div>
                    <div class="stat-percent font-bold text-navy">{{item.used/item.total*100 | number : 1}}% </div>
                    <small>使用情况</small>
                </div>
            </div>
        </div>
    </div>
</div>

