<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>防火墙</h2>
        <ol class="breadcrumb">
            <li>
                <span>安全</span>
            </li>
            <li class="active">
                <strong>防火墙</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>备份</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <!--<div class="btn btn-primary btn-sm"
                             data-toggle="modal"
                             data-target="#creat_wall"
                        >
                            <span class="fa fa-plus"></span> 创建防火墙
                        </div>-->
                        <!--<button class="btn btn-primary btn-sm"
                                disabled
                                ng-show="walls.length/securityTotal == 1"
                        >
                            <span class="fa fa-plus"></span> 创建防火墙
                        </button>-->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input icheck type="checkbox"
                                           ng-model="all_check"
                                           ng-change="allCheck(all_check)"
                                    />
                                </th>
                                <th>名称</th>
                                <th>描述</th>
                                <th>规则</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-init="hostList[$index].check_status = false">
                                    <input icheck type="checkbox"
                                           ng-model="hostList[$index].check_status"
                                           ng-change="itemCheck()"/>
                                </td>
                                <td><a href="javascript:;">{{walls[0].name}}</a></td>
                                <td>{{walls[0].description}}</td>
                                <td>
                                    <a ui-sref="security.rule({id:walls[0].id})" class="btn btn-xs btn-info">
                                        管理规则
                                    </a>
                                </td>
                               <!-- <td>
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            ng-click="deleteWall(walls[0].id,key,walls[0].name)"
                                    >删除</button>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--创建防火墙-->
<div class="modal fade" id="creat_wall" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <form role="form" name="$form" novalidate ng-submit="formSubmit($event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建防火墙</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="tip text-warning">
                            防火墙是IP过滤规则的集合，应用到虚拟机网络设置中。<br> 在防火墙创建后，你可以给安全组增加规则.
                        </div>
                        <div class="form-group">
                            <label>名称<span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   name="wallName"
                                   ng-model="formData.wallName"
                            />
                            <div class="text-danger"
                                 ng-show="$form.wallName.$dirty && $form.wallName.$invalid">
                                <small ng-show="$form.wallName.$error.required">请填写名称</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>描述</label>
                            <input type="text"
                                   class="form-control"
                                   name="description"
                                   ng-model="formData.description"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="$form.$invalid"
                    >保存
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
